.content h1 {
    margin-top: 40vh;
    text-align: center;
}

.description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    animation: fadeIn ease-in 7s;
    
    
}

@keyframes fadeIn {

    0% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 1;}

}


.git-logo{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    animation: fadeIn ease-in 8s;
}

.git-logo a:hover{
    color: #4dff4d;
}

.git-logo:hover{
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}

.circle-container{
    position: absolute;
    margin-left: 30vw;
    margin-right: 30vw;
    top: calc(50vh - 10vw);
    z-index: -1;
    border-radius: 360px;
    width: 20vw;
    height: 20vw;
    background-color: transparent;
}

.circle{
    width: 10vw;
    height: 10vw;
    border: 4px solid rgba(77, 255, 77, 0.65);
    border-radius: 360px;
    margin-top: 5vw;
    margin-left: 5vw;
    opacity: 0;

    animation-name: circlePulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}

@keyframes circlePulse{
    0%{transform: scale(1, 1); opacity: 0;}
    80%{transform: scale(2, 2); opacity: 1;}
    90%{transform: scale(1.5, 1.5); opacity: 1;}
    100%{transform: scale(2, 2); opacity: 1;}
}

.bn-bg{
    z-index: -1;
    position: absolute;
    color: rgba(77, 255, 77, 0.65);
    width: 80vw;
    text-align: center;

    opacity: 0;

    animation-name: bg-anim;
    animation-delay: 1.5s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes bg-anim{
    from {transform: translateX(-80vw); opacity: 1;}
    to {transform: translateX(100vw);}
}

#bg2{
    margin-top: 5vh;
    animation-delay: 5.75s;
}

#bg3{
    margin-top: 20vh;
    animation-delay: 2.25s;
}

#bg4{
    bottom: 5vh;
    animation-delay: 3s;
}

#bg5{
    bottom: 20vh;
    animation-delay: 2.5s;
}

#bg6{
    bottom: 40vh;
    animation-delay: 1.75s;
}

#bg7{
    bottom: 30vh;
    animation-delay: 2.75s;
}

#bg8{
    bottom: 35vh;
    animation-delay: 4.75s;
}

#bg9{
    bottom: 15vh;
    animation-delay: 4.15s;
}

#bg10{
    bottom: 50vh;
    animation-delay: 5.25s;
}

#bg11{
    bottom: 60vh;
    animation-delay: 6.25s;
}